<ul class="list-unstyled">
  <% actionplans.each do |actionplan| %>
  <% unless current_user == actionplan.user %>
  <li class="media mb-3">
    <div class="media-body">
        <div>
          <%= link_to actionplan.user.name, user_path(actionplan.user) %>：<%= link_to actionplan.action, actionplan_path(actionplan) %>
        </div>
        <div>
          <%= render 'favorites/favorits_button', actionplan: actionplan %>
        </div>
    </div>
  </li>
  <% end %>
 <% end %>
  <%= paginate actionplans %>
</ul>