<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>お気に入り</th>
        <th>アクションプラン</th>
        <th>アクション中</th>
        <th>コンプリート</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= render 'actionplans/actions', actionplans: @likes %></td>
        <td><%= render 'actionplans/actions', actionplans: @actionplan_waits %></td>
        <td><%= render 'actionplans/actions', actionplans: @actionplan_nows %></td>
        <td><%= render 'actionplans/actions', actionplans: @actionplan_comps %></td>
      </tr>
    </tbody>
  </table>
</div>